sudo: false
language: python
cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        - python: 2.7
          env: TOXENV=flake8
        - python: 2.7
          env: TOXENV=py27
        - python: 3.3
          env: TOXENV=py33
        - python: 3.4
          env: TOXENV=py34
        - python: pypy
          env: TOXENV=pypy

install:
    - pip install tox codecov

script:
    - tox -e $TOXENV

after_success:
    - codecov
