sudo: false
language: python
cache:
  directories:
  - "$HOME/.cache/pip"
matrix:
  include:
  - python: 3.7
    env: TOXENV=flake8
  - python: 3.7
    env: TOXENV=py37
  - python: 3.8
    env: TOXENV=py38
  - python: 3.9
    env: TOXENV=py39
  - python: 3.10
    env: TOXENV=py310
  - python: 3.11
    env: TOXENV=py311
  - python: 3.12
    env: TOXENV=py312
install:
- pip install tox codecov twine
script:
- tox -e $TOXENV
after_success:
- codecov
deploy:
  provider: pypi
  user: pyarmory
  password:
    secure: kCrsMsT2c8/UcbV4hukx/bOoXaHLlgY1EVYLVyzu9WdOmVDjFICF845VfFIjigbks8JrMPO1jtRJSjui+65yRWUxbPh5BmMDQBcbU18q8y/xUoVGW9fHgalZuWqUms8YOTgGHgUNHhzbRwNEBc1CAaertUiwT6D+u3LLW05O1jZGNMcWeUeIYL7WCzeNVGLWYorgPlwcKOwGef3uZuA9niDHQSHBA/S4Dft/jbXhUBloGIz61Rc0xpASJJRmM2Y2K6uLlJqmvQ/6iQzEUgbAwcK7fkM8QueMXBPRHQhgB/qKB6zgIUu/RjPaJSBQlfbsVxdcva06F1yoaMeE3v5L4Sqb1hrM/YP2+FK8g0I0apD8FFfa6NtqzX3dnQtSgWQsFi89G8uh1c7bCqZpJyI8x/DW0cMnrlzgqbH61C88xRrMWHoD1cEY+VzoyhtqvFdQm1Z+K/YwYbHSvxlX88PoaAfHgYorUzN5aBmaxAQophoUoobWuMxH3N48G7z+4wYlojGM52AkFsU0Ku+2YspdLKhBxm9HEtGujsdPMjARuB8bQZQF55aBfVzmB4vsP8VwkHvb1iVUv5Q1uA+FxVnX8VaP+g8pb9aCLoSxa5BkXm+KWdgTKZPO3cEZ2OPRv0oP5fz3pDkVXY5KhstUTOYObfgs+YO7RMTX+NPdSeUyjmU=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    repo: pyarmory/pike
